
<!--this message service file and other message file creation step -->
 <!-- <h3>{{msg}}</h3><br>
<button (click)="getmessage()">message me</button> 
 <h2>{{othersms}}</h2> 

<br> -->
<!--for singleton object creation-->
   <!-- <app-comp1></app-comp1> -->
  <!-- <app-comp2></app-comp2>   -->
<!-- <app-import></app-import> -->
   <!-- <app-file-upload></app-file-upload>  -->
 <!-- <app-side-menu></app-side-menu>  -->
<!-- 
 <app-otp></app-otp>   -->
 <!-- <div>
  <a routerLink="login">login</a>
  <a routerLink="home">home</a><br>
  <a routerLink="aboutus">about us</a><br>
  <a routerLink="contactus">contact us</a>
  <router-outlet></router-outlet> 
 </div> -->
  <!-- <app-reactive></app-reactive> -->
<!-- <app-sidenav></app-sidenav> -->
<!-- <app-arraypage></app-arraypage> -->
 <!-- <app-formarr></app-formarr>  -->
  <!-- <app-newrowsdynamic></app-newrowsdynamic>  -->
<!-- <app-design></app-design> -->

<!-- <app-weather></app-weather> -->
<app-todolist></app-todolist>